<!DOCTYPE html>
<html>
  <head>
    <title>RESULTS!!!</title>
  </head>
  
  <body>
    <h1>Get Your Fortune!</h1>
    <h3>Hi, <%=@the_user%>, your fortune is...<%=@the_fortune%></h3>
    <img src= "https://media3.giphy.com/media/HnLl6Od4WDWNi/giphy.gif">
    </body>
</html>